body{
    font-family: Arial, Helvetica, sans-serif;
}

header{background-color: #707070; padding: 66px 16px;}
header p {color: white;}

#hd-text-one, #hd-text-two, #hd-text-three {margin: 0;}
#hd-text-one {font-size: 20px;}
#hd-text-two {font-size: 40px; font-weight: bold;}
#hd-text-three {font-size: 14px; margin-top: 9px; line-height: 16px;}

nav a {
    background-color: whitesmoke;
    border: 1px solid #707070;
    border-radius: 4px;
    box-shadow: 0px 1px 6px #00000029;
    color: #888888;
    display: block;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    padding: 12px 31px;
}

#ajude-algoritmo{color: #888888; padding: 0 15px;}
#ajude-algoritmo h1 {font-size: 20px; font-weight: normal;}
#ajude-algoritmo p {font-size: 12px; line-height: 18px;}

form label {display: block; font-size: 12px; margin-top: 20px; margin-bottom: 7px;}
form input {border: 1px solid #707070;}
form input[type="submit"]{font-size: 16px;}

label[for="frm-gender-mal"] {margin-right: 40px !important;} /* ATENCAO: REVER USO DO IMPORT */
label[for="frm-gender-mal"], label[for="frm-gender-fem"]{display: inline-block; margin: 20px 0;}
