body{font-family: Arial, Helvetica, sans-serif;}

/* COMPONENTES: BOTOES*/

.btn, .btn-shadow {
    background-color: white;
    border: 1px solid #707070;
    border-radius: 4px;
    color: #888888;
    display: inline-block;
    text-align: center;
    text-decoration: none;
}
.btn-shadow {box-shadow: 0px 1px 6px #00000029;}
.btn-lg {font-size: 16px; padding-top: 11px; padding-bottom: 10px; text-align: center;}
.form-input-box {width: 100%; height: 30px; border: 1px solid #707070; padding: 0 5px;}

/* HEADER SECTION */

header {background-color: #707070; padding: 0 16px;} header p {color: white;}
#hd-text-one {font-size: 20px;} #hd-text-two {font-size: 40px; font-weight: bold;}
#hd-text-three {font-size: 14px;} .nav-btns {font-size: 14px; padding: 12px 31px;}
#hd-text {
    display: grid; grid-template-rows: 23px 48px 32px; padding-top: 66px; padding-bottom: 28px;
}
#hd-nav{
    display: grid; grid-template-columns: 1fr 1fr; gap: 20px 21px; padding-top: 28px;
    padding-bottom: 69px;
}

/* FORM SECTION */

#ajude-algoritmo{
    color: #888888; 
    padding-top: 29px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 91px;
}

#ajude-algoritmo h1 {font-size: 20px; font-weight: normal; margin-bottom: 17px;}
#ajude-algoritmo p {font-size: 12px; line-height: 18px; margin-bottom: 17px;}
#ajude-algoritmo-inp-btn{width: 100%;}

form label {display: block; font-size: 12px; margin-top: 20px; margin-bottom: 7px;}
form input[type="submit"]{font-size: 16px;}

label[for="frm-gender-mal"] {margin-right: 40px !important;} /* ATENCAO: REVER USO DO IMPORT */
label[for="frm-gender-mal"], label[for="frm-gender-fem"]{display: inline-block; margin: 20px 0;}

/* COMPARTILHE NOVIDADE */

#compartilhe {color: #888888; padding-left: 9px; padding-right: 20px; padding-bottom: 43px;}
#compartilhe h1 {font-size: 18px; text-align: center;}
#compartilhe p {font-size: 14px; text-align: center; margin: 28px 0;} 
#compartilhe-inp-submit {display: block; width: 50%; margin: 42px auto;}

/* FOOTER */

footer {
    background-color: #707070; 
    color: white;
    padding-top: 71px;
    padding-left: 80px;  
    padding-right: 80px;
    padding-bottom: 36px;
}

footer p {text-align: center; margin-bottom: 8px;}

@media (min-width: 768px){
    header{text-align: center; padding: 0;}
    #hd-text{padding-bottom: 25px;}
    #hd-nav{
        /*grid-template-columns: repeat(4, auto);*/
        justify-content: center;
        grid-template-columns: repeat(4, max-content);
        gap: 0 40px;
        padding-top: 25px;
        padding-bottom: 129px;
    }
    #ajude-algoritmo{
        display: grid;
        justify-content: center;
        grid-template-columns: 34.6% 22.6%;
        column-gap: 4%;
        padding-top: 21px;
        padding-bottom: 79px;
    }
    #grid-form-compartilhe {
        justify-content: center;
        display: grid;
        grid-template-columns: repeat(2, 30%);
        grid-auto-columns: 50%;
        column-gap: 40px;
    }
    #compartilhe-inp-submit {width: 25%;}
}
